<%- include('partials/header'); -%>
    <div class="container">
        <% if (message != '') { %>
            <p class="text-center text-danger"><%= message %></p>
        <% } %>
        <form class="add-player-form" action="/add" method="POST">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Author's Name" required>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="source" id="source" placeholder="Source" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <input type="text" class="form-control" name="quote" id="quote" placeholder="Quote" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-right">Add Quote</button>
        </form>
    </div>
</div>
</body>
</html>
